<div class="col-md-1"></div>
<div class="col-md-11" style="background:#000">
<space></space>
	<div class="recommended-info">
       <h3>Trends Videos</h3>
	</div>

    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
        <iframe class=embed-responsive-item src="https://www.youtube-nocookie.com/embed/?list=PLrEnWoR732-BHrPp_Pm8_VleD68f9s14-"frameborder=0 allowfullscreen></iframe>			
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">United State</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
    </div>
        <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
        <iframe class=embed-responsive-item src="https://www.youtube-nocookie.com/embed/?list=PLuXL6NS58Dyztg3TS-kJVp58ziTo5Eeck"frameborder=0 allowfullscreen></iframe>			
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Japan </a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
    </div>
	<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
			<iframe class=embed-responsive-item src="https://www.youtube.com/embed/?list=PLBFwpcUbtP9ocPDsCfWoyKnzdRM5rWSvZ"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Belgium</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube-nocookie.com/embed/?list=PLcHQhiTqGSdLg0XMB4EBpmDPjii7KkDwy"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Brazil</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube-nocookie.com/embed/?list=PLsa-dEwv56FZugrkS346xMx-dBT16uM8v"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">France</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
	<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
			<iframe class=embed-responsive-item src="https://www.youtube-nocookie.com/embed/?list=PL_yIBWagYVjyyqx_qPkbat5zufWZOyZEZ"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">India</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube.com/embed/?list=PLWahjRCqyk73VL_rL6Ec0lg5M1jVQhOBs"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Hong Kong</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
    
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube.com/embed/?list=PLuTI_KPQjD0oGT8iMUfwobKZ7LsHCvo1o"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Kenya</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
	<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
			<iframe class=embed-responsive-item src="https://www.youtube.com/embed/?list=PLfk71Rp386qjb5A38Bpatldih9vuX-EpE"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Mexico</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube-nocookie.com/embed/?list=PLMgLYyo3mS5x7LEygukJoscBekpsocpfB"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Nigeria</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube.com/embed/?list=PLnDIaDu4wl5arOct4QGFplPRcT_MtgKK_"frameborder=0 allowfullscreen></iframe>	
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Saudi Arabia</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube.com/embed/?list=PLdIIlX5liCIrtDfmACBd9ik4kQryWkH6R"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Thailand</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube.com/embed/?list=PL-DfNcB3lim9IZmUXEjE1Ov0Ir1NDa3Yr"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">UK</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>    
    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube.com/embed/?list=PLUadgMpPaifVmhXn4xz-jRO934EAORUnX" frameborder=0 allowfullscreen></iframe>
    <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Vietnam</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>

    <div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item src="https://www.youtube.com/embed/?list=PLgMaGEI-ZiiZ0ZvUtduoDRVXcU5ELjPcI"frameborder=0 allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Russia</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
	</div>
    	<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
		<iframe class=embed-responsive-item frameborder=0 src="https://www.youtube.com/embed/videoseries?list=PLPDaTeCynrTBw0fPOl8hE21smZ6EVQs9Q"allowfullscreen></iframe>
        <div class="resent-grid-info recommended-grid-info">
							<ul>
								<li><p class="author author-info"><a href="#" class="author">Rwanda</a></p></li>
								<li class="right-list"><p class="views views-info">1,114,200 views</p></li>
							</ul>
						</div>
        
	</div>
</div>